<!DOCTYPE html>
<html lang="{{ trans_locale() }}">
    <head>
        <meta charset="UTF-8" />

        {{ theme_head() }}

        <!-- Stylesheet Includes -->
        <link rel="stylesheet" type="text/css" href="{{ theme_asset('css/reset.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ theme_asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ theme_asset('css/content.css') }}" />

        <!-- Javascript Includes -->
        <script type="text/javascript" src="{{ theme_asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ theme_asset('js/superfish.js') }}"></script>

        <!--[if lt IE 9]>
            <script src="{{ theme_asset('js/html5.js') }}"></script>
        <![endif]-->

        <script type="text/javascript">
            $(document).ready(function() {
                $('nav > ul').superfish({
                    hoverClass   : 'sfHover',
                    pathClass    : 'overideThisToUse',
                    delay        : 0,
                    animation    : {height: 'show'},
                    speed        : 'normal',
                    autoArrows   : false,
                    dropShadows  : false,
                    disableHI    : false, /* set to true to disable hoverIntent detection */
                    onInit       : function(){},
                    onBeforeShow : function(){},
                    onShow       : function(){},
                    onHide       : function(){}
                });

                $('nav > ul').css('display', 'block');
            });
        </script>
    </head>


    <body>
        <div id="container">

            <!-- Header -->
            <header>
                <a id="logo" href="{{ url('/') }}">{{ config('cmscanvas.config.site_name') }}</a>

                <img alt="Header Image" src="{{ theme_asset('images/header.jpg') }}" />

                <nav>
                    {{ navigation('main_menu') }}
                    <div class="clear"></div>
                </nav>
            </header>

            {% block content %} {% endblock %}

            <footer>
                <ul>
                    <li>&copy;{{ "now"|date('Y') }}  All Rights Reserved</li>
                </ul>
            </footer>

        </div><!-- container -->

        {{ theme_footer() }}
    </body>

</html>